@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #121111;
  /* background-image: url("https://github.com/nao-uru/shohei_bd/blob/main/public/bg.jpeg?raw=true"); */
  background-image: url("https://source.unsplash.com/DbwYNr8RPbg");
  background-size: cover;
}

.positionCenter {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
}

.bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.fadeDown{
  animation-name:fadeDownAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeDownAnime{
    from {
      opacity: 0;
    transform: translateY(-100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  .primary {
    color: peru;
  }

  .bg_main {
    width: 100%;
    background-color: #F3F7FA;
    padding-bottom: 24px;
  }

  .shadow_card {
    box-shadow: 4px 4px 10px 0px rgba(190, 197, 202, 0.20);
  }

  .shadow_text {
    text-shadow: -3px -4px 8px 0px #FFF, 3px 3px 7px 0px #D8E9F5;
  }